packages:
  paraview:
    require: "~fortran+hdf5+visitbridge+mpi"
  py-torch:
    require: "+cuda+cudnn+magma+nccl"
  py-tensorflow:
    require: "+cuda+nccl"
  visit:
    require: "~gui"
  emacs:
    require: "+json+native+tls+treesitter"
  tar:
    require: "zip=gzip"
  conduit:
    require: "~hdf5_compat"
  mpi:
    require: "mpich"
  all:
    variants: build_type=Release cuda_arch=80
    target: [zen2]
